<!DOCTYPE html>
<html class="yunj-admin-sm">
<head>
    {include file="public/head" /}
    <style>
        .layui-tab-item .layui-icon{
            float: left;
            font-size: 28px;
            padding: 5px;
            margin: 5px;
            width: 30px;
            cursor: pointer;
        }
        .layui-tab-item .layui-icon:hover{
            color: #fff;
            background-color: #808080;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-tab">
        <ul class="layui-tab-title" lay-allowClose="true">
            <li class="layui-this">Layui图标</li>
            <li>其他图标</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <i class="layui-icon layui-icon-rate-half icon-item"></i>
                <i class="layui-icon layui-icon-rate icon-item"></i>
                <i class="layui-icon layui-icon-rate-solid icon-item"></i>
                <i class="layui-icon layui-icon-cellphone icon-item"></i>
                <i class="layui-icon layui-icon-vercode icon-item"></i>
                <i class="layui-icon layui-icon-login-wechat icon-item"></i>
                <i class="layui-icon layui-icon-login-qq icon-item"></i>
                <i class="layui-icon layui-icon-login-weibo icon-item"></i>
                <i class="layui-icon layui-icon-password icon-item"></i>
                <i class="layui-icon layui-icon-username icon-item"></i>
                <i class="layui-icon layui-icon-refresh-3 icon-item"></i>
                <i class="layui-icon layui-icon-auz icon-item"></i>
                <i class="layui-icon layui-icon-spread-left icon-item"></i>
                <i class="layui-icon layui-icon-shrink-right icon-item"></i>
                <i class="layui-icon layui-icon-snowflake icon-item"></i>
                <i class="layui-icon layui-icon-tips icon-item"></i>
                <i class="layui-icon layui-icon-note icon-item"></i>
                <i class="layui-icon layui-icon-home icon-item"></i>
                <i class="layui-icon layui-icon-senior icon-item"></i>
                <i class="layui-icon layui-icon-refresh icon-item"></i>
                <i class="layui-icon layui-icon-refresh-1 icon-item"></i>
                <i class="layui-icon layui-icon-flag icon-item"></i>
                <i class="layui-icon layui-icon-theme icon-item"></i>
                <i class="layui-icon layui-icon-notice icon-item"></i>
                <i class="layui-icon layui-icon-website icon-item"></i>
                <i class="layui-icon layui-icon-console icon-item"></i>
                <i class="layui-icon layui-icon-face-surprised icon-item"></i>
                <i class="layui-icon layui-icon-set icon-item"></i>
                <i class="layui-icon layui-icon-template-1 icon-item"></i>
                <i class="layui-icon layui-icon-app icon-item"></i>
                <i class="layui-icon layui-icon-template icon-item"></i>
                <i class="layui-icon layui-icon-praise icon-item"></i>
                <i class="layui-icon layui-icon-tread icon-item"></i>
                <i class="layui-icon layui-icon-male icon-item"></i>
                <i class="layui-icon layui-icon-female icon-item"></i>
                <i class="layui-icon layui-icon-camera icon-item"></i>
                <i class="layui-icon layui-icon-camera-fill icon-item"></i>
                <i class="layui-icon layui-icon-more icon-item"></i>
                <i class="layui-icon layui-icon-more-vertical icon-item"></i>
                <i class="layui-icon layui-icon-rmb icon-item"></i>
                <i class="layui-icon layui-icon-dollar icon-item"></i>
                <i class="layui-icon layui-icon-diamond icon-item"></i>
                <i class="layui-icon layui-icon-fire icon-item"></i>
                <i class="layui-icon layui-icon-return icon-item"></i>
                <i class="layui-icon layui-icon-location icon-item"></i>
                <i class="layui-icon layui-icon-read icon-item"></i>
                <i class="layui-icon layui-icon-survey icon-item"></i>
                <i class="layui-icon layui-icon-face-smile icon-item"></i>
                <i class="layui-icon layui-icon-face-cry icon-item"></i>
                <i class="layui-icon layui-icon-cart-simple icon-item"></i>
                <i class="layui-icon layui-icon-cart icon-item"></i>
                <i class="layui-icon layui-icon-next icon-item"></i>
                <i class="layui-icon layui-icon-prev icon-item"></i>
                <i class="layui-icon layui-icon-upload-drag icon-item"></i>
                <i class="layui-icon layui-icon-upload icon-item"></i>
                <i class="layui-icon layui-icon-download-circle icon-item"></i>
                <i class="layui-icon layui-icon-component icon-item"></i>
                <i class="layui-icon layui-icon-file-b icon-item"></i>
                <i class="layui-icon layui-icon-user icon-item"></i>
                <i class="layui-icon layui-icon-find-fill icon-item"></i>
                <i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop icon-item"></i>
                <i class="layui-icon layui-icon-loading-1 layui-icon layui-anim layui-anim-rotate layui-anim-loop icon-item"></i>
                <i class="layui-icon layui-icon-add-1 icon-item"></i>
                <i class="layui-icon layui-icon-play icon-item"></i>
                <i class="layui-icon layui-icon-pause icon-item"></i>
                <i class="layui-icon layui-icon-headset icon-item"></i>
                <i class="layui-icon layui-icon-video icon-item"></i>
                <i class="layui-icon layui-icon-voice icon-item"></i>
                <i class="layui-icon layui-icon-speaker icon-item"></i>
                <i class="layui-icon layui-icon-fonts-del icon-item"></i>
                <i class="layui-icon layui-icon-fonts-code icon-item"></i>
                <i class="layui-icon layui-icon-fonts-html icon-item"></i>
                <i class="layui-icon layui-icon-fonts-strong icon-item"></i>
                <i class="layui-icon layui-icon-unlink icon-item"></i>
                <i class="layui-icon layui-icon-picture icon-item"></i>
                <i class="layui-icon layui-icon-link icon-item"></i>
                <i class="layui-icon layui-icon-face-smile-b icon-item"></i>
                <i class="layui-icon layui-icon-align-left icon-item"></i>
                <i class="layui-icon layui-icon-align-right icon-item"></i>
                <i class="layui-icon layui-icon-align-center icon-item"></i>
                <i class="layui-icon layui-icon-fonts-u icon-item"></i>
                <i class="layui-icon layui-icon-fonts-i icon-item"></i>
                <i class="layui-icon layui-icon-tabs icon-item"></i>
                <i class="layui-icon layui-icon-radio icon-item"></i>
                <i class="layui-icon layui-icon-circle icon-item"></i>
                <i class="layui-icon layui-icon-edit icon-item"></i>
                <i class="layui-icon layui-icon-share icon-item"></i>
                <i class="layui-icon layui-icon-delete icon-item"></i>
                <i class="layui-icon layui-icon-form icon-item"></i>
                <i class="layui-icon layui-icon-cellphone-fine icon-item"></i>
                <i class="layui-icon layui-icon-dialogue icon-item"></i>
                <i class="layui-icon layui-icon-fonts-clear icon-item"></i>
                <i class="layui-icon layui-icon-layer icon-item"></i>
                <i class="layui-icon layui-icon-date icon-item"></i>
                <i class="layui-icon layui-icon-water icon-item"></i>
                <i class="layui-icon layui-icon-code-circle icon-item"></i>
                <i class="layui-icon layui-icon-carousel icon-item"></i>
                <i class="layui-icon layui-icon-prev-circle icon-item"></i>
                <i class="layui-icon layui-icon-layouts icon-item"></i>
                <i class="layui-icon layui-icon-util icon-item"></i>
                <i class="layui-icon layui-icon-templeate-1 icon-item"></i>
                <i class="layui-icon layui-icon-upload-circle icon-item"></i>
                <i class="layui-icon layui-icon-tree icon-item"></i>
                <i class="layui-icon layui-icon-table icon-item"></i>
                <i class="layui-icon layui-icon-chart icon-item"></i>
                <i class="layui-icon layui-icon-chart-screen icon-item"></i>
                <i class="layui-icon layui-icon-engine icon-item"></i>
                <i class="layui-icon layui-icon-triangle-d icon-item"></i>
                <i class="layui-icon layui-icon-triangle-r icon-item"></i>
                <i class="layui-icon layui-icon-file icon-item"></i>
                <i class="layui-icon layui-icon-set-sm icon-item"></i>
                <i class="layui-icon layui-icon-add-circle icon-item"></i>
                <i class="layui-icon layui-icon-404 icon-item"></i>
                <i class="layui-icon layui-icon-about icon-item"></i>
                <i class="layui-icon layui-icon-up icon-item"></i>
                <i class="layui-icon layui-icon-down icon-item"></i>
                <i class="layui-icon layui-icon-left icon-item"></i>
                <i class="layui-icon layui-icon-right icon-item"></i>
                <i class="layui-icon layui-icon-circle-dot icon-item"></i>
                <i class="layui-icon layui-icon-search icon-item"></i>
                <i class="layui-icon layui-icon-set-fill icon-item"></i>
                <i class="layui-icon layui-icon-group icon-item"></i>
                <i class="layui-icon layui-icon-friends icon-item"></i>
                <i class="layui-icon layui-icon-reply-fill icon-item"></i>
                <i class="layui-icon layui-icon-menu-fill icon-item"></i>
                <i class="layui-icon layui-icon-log icon-item"></i>
                <i class="layui-icon layui-icon-picture-fine icon-item"></i>
                <i class="layui-icon layui-icon-face-smile-fine icon-item"></i>
                <i class="layui-icon layui-icon-list icon-item"></i>
                <i class="layui-icon layui-icon-release icon-item"></i>
                <i class="layui-icon layui-icon-ok icon-item"></i>
                <i class="layui-icon layui-icon-help icon-item"></i>
                <i class="layui-icon layui-icon-chat icon-item"></i>
                <i class="layui-icon layui-icon-top icon-item"></i>
                <i class="layui-icon layui-icon-star icon-item"></i>
                <i class="layui-icon layui-icon-star-fill icon-item"></i>
                <i class="layui-icon layui-icon-close-fill icon-item"></i>
                <i class="layui-icon layui-icon-close icon-item"></i>
                <i class="layui-icon layui-icon-ok-circle icon-item"></i>
                <i class="layui-icon layui-icon-add-circle-fine icon-item"></i>
            </div>
            <div class="layui-tab-item">等待添加...</div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['element','jquery'],function () {
        $ = layui.jquery;
        //得到当前iframe层的索引
        let index = parent.layer.getFrameIndex(window.name);

        $(".icon-item").click(function () {
            let iconClass=$(this).attr('class');
            iconClass=iconClass.replace(' icon-item','');
            let obj=$('.input-icon-inline', parent.document);
            obj.find('.layui-icon:first-child').attr("class",iconClass);
            obj.find('input[name=icon]').val(iconClass);
            parent.layer.close(index);
        });
    });
</script>
</html>