<!DOCTYPE html>
<html class="yunj-admin-sm">
<head>
    {include file="public/head" /}
</head>
<body>
<div class="layui-fluid">
    <form class="layui-form" data-url="{:url('add')}" data-method="post">
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>类型</label>
            <div class="layui-input-inline">
                <input type="text" name="type" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">英文字母构成</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="submit_btn">提交</button>
            <a href="javascript:parent.layui.layer.closeAll();" class="layui-btn layui-btn-sm layui-btn-primary">取消</a>
        </div>
    </form>
</div>
</body>
{include file="public/footer" /}
</html>