<!DOCTYPE html>
<html class="yunj-admin-sm">
<head>
    {include file="public/head" /}
</head>
<body>
{include file="public/nav" /}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" id="search_form">
                        <div class="layui-inline show-xs-block">
                            <select name="status">
                                <option value="all">默认所有</option>
                                <option value="1">正常</option>
                                <option value="0">已禁用</option>
                            </select>
                        </div>
                        <div class="layui-inline show-xs-block">
                            <input type="text" name="keywords" placeholder="名称/类型" autocomplete="off" class="layui-input"></div>
                        <div class="layui-inline show-xs-block">
                            <button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="submit"><i class="layui-icon">&#xe615;</i> 搜索</button>
                            <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary"><i class="layui-icon">&#xe669;</i> 重置</button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table id="table_data" class="layui-table" lay-filter="table_data"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/html" id="toolbar">
    <div class = "layui-btn-container" >
        {if checkAuth('ConfigType/add')}
        <button class = "layui-btn layui-btn-sm layui-btn-normal" lay-event="add" title="配置类型添加" data-data='{"type":2,"title":"配置类型添加","content":"{:url(\"add\")}" }' >
            <i class="layui-icon layui-icon-add-circle"></i> 添加
        </button>
        {/if}
        {if checkAuth('ConfigType/delBatch')}
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del_batch" title="批量禁用" data-data='{"url":"{:url(\"delBatch\")}","title":"批量禁用" }' >
            <i class="layui-icon layui-icon-delete"></i> 批量禁用
        </button >
        {/if}
    </div >
</script>
<script type="text/html" id="statusTpl">
    <input type="checkbox" lay-skin="switch" lay-filter="status" data-data='{"id":{{ d.id }},"url":"{:url(\"status\")}" }' lay-text="正常|禁用" {{ d.status!==0?'checked':'' }} >
</script>
<script type="text/html" id="sortTpl">
    <input type="text" class="layui-input table-sort" data-data='{"url":"{:url(\"sort\")}","id":"{{ d.id }}","oldSort":"{{ d.sort }}"}' value="{{ d.sort }}" style="text-align: center;max-width: 80px;padding-left: 0;height: 28px;" >
</script>
<script type="text/html" id="actionTpl">
    <div class="layui-btn-group">
        {if checkAuth('ConfigType/edit')}
        <button type="button" class="layui-btn layui-btn-xs" lay-event="edit" title="配置类型编辑" data-data='{"type":2,"title":"配置类型编辑","content":"{:url(\"edit\")}?id={{ d.id }}"}'>
            <i class="layui-icon layui-icon-edit"></i>
        </button>
        {/if}
    </div>
</script>
{include file="public/footer" /}
<script type="text/javascript" src="__ADMIN__/js/table_data.js?v={$Think.config.system.version}"></script>
<script type="text/javascript">
    var table_args={
        page:true,
        cols:[[
            {checkbox: true,align:'center'},
            {field:'name',title: '名称'},
            {field:'type',title: '类型'},
            {field:'status',title:'状态',align:'center',hide:isMobile(),templet:"#statusTpl"},
            {field:'sort',title:'排序',align:'center',hide:isMobile(),templet:"#sortTpl"},
            {title:'操作',fixed:'right',align:'center',templet:"#actionTpl"},
        ]]
    };
</script>
</html>