<!doctype html>
<html class="yunj-admin-sm">
<head>
    {include file="public/head" /}
    <link rel="stylesheet" href="__ADMIN__/css/login.css">
    <style type="text/css">
        .captcha-inline{
            display: flex;
        }
        .captcha-inline img{
            height: 50px !important;
            min-width:100px !important;
            margin-left: 10px !important;
            padding-left: 0 !important;
        }
    </style>
</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">{:sconfig('base.site_name',$Think.config.system.site_name)} - 登录</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form" data-url="{:url()}" data-method="post">
        <input type="text" name="username" placeholder="账户" autocomplete="off" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input type="password" name="password" placeholder="密码" autocomplete="off" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <div class="captcha-inline">
            <input type="text" name="captcha_code" placeholder="图形验证码" autocomplete="off" lay-verify="required" autocomplete="off" class="layui-input">
            <img id="captcha_img" src="{:captcha_src()}" alt="captcha" class="layui-input">
        </div>
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login_btn" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>
{include file="public/footer" /}
<script type="text/javascript">
    layui.use(['layer','form'],function () {
        $ = layui.jquery;
        let form = layui.form;

        form.on('submit(login_btn)', function (data) {
            let form=data.form;
            let url=$(form).data("url");
            let method=$(form).data("method");
            let requestData=data.field;
            request({
                type:method,
                url:url,
                data:requestData,
                loading_txt:'登录处理中...',
                action_txt:'登录',
                successCallback:function (res) {
                    successAlert(res.msg);
                    location.href=res.data.url;
                },
                errorCallback:function (res) {
                    errorAlert(res.msg,function (index, layero) {
                        $("#captcha_img").attr('src', '{:captcha_src()}');
                        layer.close(index);
                    });
                }
            });
            //防止表单二次提交
            return false;
        });

        $("#captcha_img").click(function () {
            $(this).attr('src', '{:captcha_src()}?seed='+Math.random());
        });
    });
</script>
</body>
</html>